<%= turbo_stream_from @chat %>

<div id="messages">
  <%= render @chat.messages %>
</div>

<%= form_with(url: ask_chat_path(@chat), method: :post) do |f| %>
  <%= f.text_area :message, class: "w-full border rounded-lg p-2" %>
  <%= f.submit "Send" %>
<% end %>
